
#title {
    position: relative;
    top: 75px;
    width: 100%;
    text-align: center;
}

#title-span {
    font-size: 56px;
    color: #0a3632;
    font-weight: bold;
}
#background {
    position: fixed;
    background-color: #A3D1C6;
    width: 60%;
    top: 200px;
    left: 20%;
    border-radius: 10px;
}
#background-table {
    position: relative;
    height: auto;
}
#background-table > span{
    font-size:34px;
}
#background-table-2 {
    position: relative;
    height: auto;
    background-color: #D6E7DB;
}

#background-table-2>span{
    font-size:24px;
}