/*12/08*/
#form-div-div-div-div-span-register {
    position: relative;
    font-size: 24px;
    color: #fafafa;
}
/*----------register---------------*/
#register {
    background-color: rgb(7 7 7 / 0.65);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#register-form {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    background-color: #A3D1C6;
    height: 70%;
    width: 40%;
    border-radius: 10px;
    position: relative;
    top: 15%;
    left: 30%;  
}
/*
#register-form-x {
    position: absolute;
    top: 10px;
    right:12px
}
*/
#register-form-register {
    position: absolute;
    top: 40px;
    width: 100%;
    text-align: center;
}
#register-form-register-span{
    font-size:50px;
}
#register-form-divbut{
    position:absolute;
    bottom:20px;
    width:100%;
    text-align:center;
}
#register-form-button-y, #register-form-button-n {
    position: relative;

    height: 32px;
    width: 175px;
    background: #29464A;
    border-style: none;
    border-radius: 5px;
    color: #e7f8eb;
    font-size: 22px;
    text-align: center;
    letter-spacing: 3px;
    cursor: pointer;
}
/*form*/
#register-form-name {
    position: absolute;
    top: 120px;
    left: 10%;
}
#register-form-sex {
    position: absolute;
    top: 180px;
    left: 10%;
}
#register-form-phone {
    position: absolute;
    top: 240px;
    left: 10%;
}
#register-form-email {
    position: absolute;
    top: 300px;
    left: 10%;

}
#register-form-paw {
    position: absolute;
    top: 360px;
    left: 10%;
}
/*span*/
#register-form-name-span {
    font-size: 28px;
}
#register-form-sex-span {
    font-size: 28px;
}
#register-form-phone-span {
    font-size: 28px;
}
#register-form-email-span {
    font-size: 28px;
}
#register-form-paw-span {
    font-size: 28px;
}
/*input*/
#register-form-inpname {
    position: absolute;
    top: 160px;
    left: 10%;
    width:100%;
}
#register-form-inpsex {
    position: absolute;
    top: 220px;
    left: 10%;
    width:100%;
}
#register-form-inpphone {
    position: absolute;
    top: 280px;
    left: 10%;
    width:100%;
}
#register-form-inpemail {
    position: absolute;
    top: 340px;
    left: 10%;
    width:100%;
}

#register-form-inppaw {
    position: absolute;
    top: 400px;
    left: 10%;
    width:100%;
}
#register-form-inpname-span, #register-form-inpsex-span, #register-form-inpphone-span, #register-form-inpemail-span,/* #register-form-inpaccount-span, */#register-form-inppaw-span {
    font-size: 18px;
    height: 22px;
    width: 80%;
    background: #f6f2f2;
    border-style: groove;
    border-radius: 5px;
    color: #000000;
    letter-spacing: 3px;
}